*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}


#nav{
    height: 130px;
    width:100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    padding: 0 120px;
    gap: 80px;
    justify-content:flex-start;
    color: white;
    position: fixed;
    z-index: 99;

}
#nav img{
    height: 100px;
}

#nav h4{
    text-transform: uppercase;
    font-weight: 650;

}

video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;

}
#main{
    position: relative;
    background-color: rgba(0,0, 0, 0.45);
}
#page1{
    height: 100vh;
    width: 100%;
    /* background-color: red; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
    text-align: center;

}
#page1 h1::before{
    content: "EAT.DRINK.PLAY";
    position: absolute;
    color: black;
    top: -6px;
    left: -6px;
    -webkit-text-stroke: 1px #95C11E;
    z-index: -1;
    
}
#page1 h1{
    font-size: 120px;
    position: relative;
   
}
#page1 h2{
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 20px;
   
}
#page1 p{
    font-size: 17px;
    font-weight: 500;
    width: 40%;
   
}
#page2 {
    height: 100vh;
    width: 100%;
   
}